.SalesInvoicesWrapper {
  display: grid;
  grid-template-columns: 1fr 6fr ;

}
.SalesInvoiceBox {
  text-align: center;
  width: 100% auto;
  height: auto;
  border-radius: 9px;
  box-shadow: 9.192px 9.192px 7px rgba(0,0,0,0.16);
  background-color: #ffffff;
  border: 1px solid #cbc8c8;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px
}

.SalesInvoiceTable {
  text-align: center;
  margin-left: 100px;
  margin-top: 50px;
  border: 1px solid black;
  border-collapse: collapse;
}

 th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
.pagination {
  margin-left: 100px;
}
/*  */
.customer-top {
  display: grid;
  grid-template-columns: 5fr 5fr ;
}
.sales-invoice-filter {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 1fr ;
}
